
/* fonts */

html {
    min-width: 360px;
    max-width: 767px;
    margin: 0 auto;   
}

@font-face {
  font-family: myfonttitle;
  src: url(../fonts/title_bold.ttf);
}

@font-face {
  font-family: myfontsubtitle1;
  src: url(../fonts/sub_bold.otf);
}

@font-face {
  font-family: myfontsubtitle2;
  src: url(../fonts/sub_reguler.otf);
}

@font-face {
  font-family: myfontsubtitle3;
  src: url(../fonts/wedding.ttf);
}


.ftitle {
  font-family: myfonttitle !important;
}

.fsub1 {
  font-family: myfontsubtitle1 !important;
}

.fsub2 {
  font-family: myfontsubtitle2 !important;
}

.fsub3 {
  font-family: myfontsubtitle2 !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.fwed {
  font-family: myfontsubtitle3 !important;
  letter-spacing: 1px;
}


/* scrollbar */


*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #bbbbbb;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

/* html body */

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px !important;
}

.text-hideng {
color: #586470;
}

/* cover */


.cover-welcome {
  background-image: url("../images/cover_welcome.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-line {
  border: 3px solid white;
  border-radius: 20px;
  margin: 30px;
  background-color: rgba(255,255,255,0.7);
 
}

.cover-line1 {

  border-radius: 20px;
  margin: 30px;
  background-color: #fff;
}

.cover-section {
  background-image: url("../images/cover_section.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-body {
  background-image: url("../images/cover_body.webp");
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.cover-card {
  background-image: url("../images/cover_card.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-footer {
  background-image: url("../images/cover_footer.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-date {
  background-image: url('../images/bg_date.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 20px;
 }


.cerita {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  
}

.over {
background-color: rgba(0,0,0,0.3);
height: 100%;
width: 100%;
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-radius: 20px;
}

i.size {
   font-size: 20px;
   
}

.bg-qobil {
background-color: #68877A;
color: #fff;
}

.bg-ig {
background-color: #68877A;
color: #fff;
}

.text-ping {
color: #AA9987;
}

.text-ping1 {
color: #C9A599;
}



.bg-namapengntin {
background-color: #C3B59B;
color: #fff;
border-radius: 10px;
padding: 10px;
}

.gallery-1 {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 10px;
  
 }
 
 .rounded-bord {
 border-radius: 500px;
 }
 
 .gallery-2 {
 height: auto;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 object-fit: cover;
 
 }
 .gallery-3 {
 height: 100px;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
  object-fit: cover;
 
 }
 
 .gallery-cerita {
 height: 90px;
 width: 90px;
 background-position: center;
 background-repeat: no-repeat;
 object-fit: cover;
 border-radius: 10px;
 
 }
 
 

hr.dotted {
  border-top: 3px dotted #bbb;
}

.cropper {
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cropper>img {
    display: inline;
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.btn-music {
    position: fixed;
    height: 35px;
    width: 35px;
    bottom: 5vh;
    left: 3vh;
    background-color: #68877A;
    z-index: 1055;
    animation: animName 2s linear infinite;
    }
    
    
    @keyframes animName {
    0%{
    transform: rotate(0deg);
    }
    100%{
    transform: rotate(360deg);
    }
    }

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #68877A;
    z-index: 1055 !important;
}

.ucapan {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.ucapan::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}


/* arrow */

.arrow {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #C3B59B;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}


/* ucapan element */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.comment-section {
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

.comment {
  display: flex;
  padding: 0px;
  margin: 10px;
  margin: 0 20px;
}

.profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 5px;
  border: 4px solid #68877A;
  margin-top: 10px;
  object-fit: cover;
}

.comment-details {
  flex: 1;
  width: 100%;
  margin: 10px 0px;
  
 
}

.commenter-name {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.psn {
margin: 0px;
color: black;
font-size: 14px;
}

.comment-time {
  font-size: 12px;
  color: #C3B59B;
  margin: 0px;
  
}

.am {
    background:#fff;
    padding: 12px 20px;
    margin-left: 10px;
    position:relative;
    border-radius: 15px;
    border: 4px solid #68877A;
}
.am:after {
    content:"";
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #68877A;
    left: -10px;
    position: absolute;
    top:10px;
}



    .ceritaku {
    display: flex;
    }
    
    .ceritaku-img {
    width: 130px;
    height: 180px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
    }
    
    .ceritaku-text {
    position: relative;
    width: 200px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    }
    
    .ceritaku-content {
    height: 180px;
    overflow-y: scroll;
    
    }
    
    .ceritaku-content::-webkit-scrollbar {
    display: none;
    }
    
    .ceritaku-content h5 {
    margin: 0px;
    color: #fff;
    }
    
    .ceritaku-content  p {
    margin-top: 10px;
    color: #fff;
    }
    
    .shadows {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 50px;
    }
    
    .shadows--bottom {
    bottom: 0;
    background: -webkit-linear-gradient(90deg, rgba(140, 149, 158, 30), transparent);
    background: linear-gradient(0deg, rgba(140, 149, 158, 30), transparent);
    }